


body {
  margin: 0;
  padding: 0;
  background: #232323;
  color: #cdcdcd;
  font-family: "Avenir Next", "Avenir", sans-serif;
}

a {
  text-decoration: none;
  color: #cdcdcd;
  /* transition: color 0.3s ease; */
}


.poster-image-thumbnail{
  max-width: 25px;
}

.info-window-details{
  display: flex;
  align-items: center;
  margin: 0 0 5px 0;
}
.info-window-main{
  color: black;
}

/* #search-list input {
  opacity: 1;
  position: relative;
  color: green;
} */
.App{
  width: 100%;
  display: flex;
}
.navigation-bar{
  width: 20%;
  overflow: hidden;
  overflow-y: auto;
  height: 100vh;
  min-width: 150px;

}

.map-container{
  width: 80%;
}
ul {
  list-style-type: none;
  padding: 5px;
}
#search-cinemas-input{
  width: 100%;
}
#search-cinemas-li{
  padding-right: 4px;
}
.filtered-cinemas {
  background-color: grey;
  margin-bottom: 2px;
  margin-top: 2px;
  padding: 2px;
}

#error-info {
  position: fixed;
  top: 30px;
  right: 40%;
  background-color: black;
  padding: 10px;
}
.data-from{
  font-size: xx-small ;
  margin: 5px;
}
/* .info-window-main{
  max-height: 350px;
  max-width:  50%;
} */